body{
    background-color: #000;
    box-sizing: border-box;
    
}
.spot{
    background-color: #121212;
    margin: 1%;
    
    border-radius: 5px;
    
}

#spot1{
    width: 20%;
    height: 100px;
}

#spot2{
    height: 100vh;
}

#logo-heading{
    color: #FFFFFF;
    padding: .5%;

}